textarea{
    max-height: 500px;
}

.divBlocos {

    width: 90%;

    
    & .arquivo {
        width: 100%;
        height: 100%;

        & iframe {
            width: 100%;
            min-height: 100%;
            max-height: max-content;
        }
    }


    & .formulario {
        width: 400px;

        div{
            border-radius: 10px;
            width: 100%;
        }

        & #formUploadArquivo {
            width: 100%;
            & div {

                width: 100%;
                & input{
                    width: 100%;
                }
            }
        }
    }

}