.divBlocos {

    width: 90%;
    height: 80%;


    & .arquivo {
        width: 100%;
        height: 100%;

        & iframe {
            width: 100%;
            height: 100%;
        }
    }

    & .formulario {
        width: 400px;

        div{
            border-radius: 10px;
            width: 100%;
        }

        & #formUploadArquivo {
            width: 100%;
            & div {

                width: 100%;
                & input{
                    width: 100%;
                }
            }
        }
    }

}