@import url(../custom.css);
@import url(header.css);

#cadastro {
    width: 100%;
    min-height: 85vh;
    max-height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-custom-2);
    flex-direction: column;

    & #tituloCadastro {
        color: var(--color-custom-4);
    }

    

    & .formComponent {
        background-color: var(--color-custom-5);
        min-width: 10%;
        max-width: 600px;
        max-height: max-content;
        min-height: 70vh;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 20px;
        padding-top: 20px;

        & .progress{
            width: 70%;
    
        }

        & #tituloCadastro{
            color: var(--color-custom-6);
            text-align: center;
        }

        & .divInputs{
            min-height: 100px;
        }
        & .form-floating {
            
            & label {
                margin-left: 10px;
                width: max-content;
            }
        }
       
    }


    & .spanPreencha {
        color: var(--color-custom-2);
        font-weight: 600;
        margin-bottom: 30px;
    }
}
