header {
    background-color: var(--color-custom-1);
    width: 100%;
    height: auto;

    & nav {
        min-height: 15vh;
        background-color: var(--color-custom-1);

        & div {
            & a {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                & #divLogo {
                    background-color: var(--color-custom-2);
                    border-radius: 30px;
                    width: 80px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    & img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            & div {

                & #loginEntrar {

                    & #liEntrar {
                        & button {
                            font-size: 23px;
                        }
                    }
                }
            }
        }

    }

#tituloCadastro{
    color: var(--color-white) !important;

}

    .active {
        color: rgb(0, 0, 0) !important;
        font-weight: 600 !important;
    }

    .nav-item {
        margin-inline: 5px;

        & .nav-link {
            font-size: 20px !important;
            color: var(--color-white) !important;

        }
    }

    .center-h {
        display: flex;
        align-items: center;
    }

}