:root{
    --color-custom-1: #5AED83;
    --color-custom-2: #1F1717;
    --color-custom-3: #1B5233;
    --color-custom-4: #F0F0F0;
    --color-custom-5: #83ED9F;
    --color-custom-6: #0e2b1a;

    
    --color-white: #FFFFFF;
}