@import url(../colors.css);
@import url(headerIndex.css);

body{
    background-color: var(--color-custom-2);
}

/*SCROLL EDIÇÃO*/
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--color-custom-2);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-custom-1);
    border-radius: 20px;
    border: 3px solid var(--color-custom-2);
}

#sectionBanner {
    background-color: var(--color-custom-2);
    min-height: 70vh;
    max-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    & #logoSVG {
        max-width: 100%;
        max-height: 200px;
    }

    & #tituloSVG {
        max-width: 100%;
        max-height: 80px;
        white-space: nowrap !important;
    }

    & #sloganSVG {
        max-height: 40px;
        white-space: nowrap !important;
        max-width: 100%;
    }

    
}

#presentation{
    background: var(--color-custom-2);
    width: 100%;
    min-height: 20vh;
    max-height: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    & #cadastroSelecao{
        min-width: 70%;
        max-width: 100%;
        min-height: 500px;
        border-radius: 50px;
        background-color: var(--color-custom-5);

        & h2{
            font-size: auto;
            text-wrap:balance;
            text-align: center;
        }

        & .botoesCadastro{
            font-size: 22px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-radius: 50px;
        }
    }
}

#toastLogin{
    top: 0;
    right: 0;
    margin-top: 8vh;
    margin-right: 18vw;

    & div{


        & .toast-header{

            & img{
                width: 25px;
                height: 25px;
            }
        }

        & .toast-body{
            height: auto;

            & form{

                & button{
                    margin-top: 10px;
                }
            }
        }
    }
}