
#sectionObjetivo{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
   
}
#obj{
  margin-bottom: 20px;
  margin-top: 40px;
}
#objetivo{
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  width: 700px;
  margin-top: 50px;
  text-align: justify;
  font-size: larger;

}
#justificativa{
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  width: 700px;
  font-size: larger;
  text-align: justify;
}