
#sectionObjetivo{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
   
}
#objetivo{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
#justificativa{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
  p{
    font-size: larger;
  }