@import url(../custom.css);


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#loading {
    margin-inline: 50%;
    margin-top: 25%;
}

body {
    display: flex;
    flex-direction: row;
    background-color: var(--color-custom-1);

    & .sidebar {
        width: 300px;
        height: 100vh;
        padding-top: 20px;
        background-color: var(--color-custom-1) !important;
        transition: width 0.4s;



        & .btnLogo {
            height: min-content;
            padding: 0;

            & #divLogoNav {
                width: 80%;
                height: 60px;
                margin-inline: 10%;
                background-color: var(--color-custom-2);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;

                & img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }

        & .divNavBody {
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;


            & .itemNav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

                & .linkNav {
                    padding-inline: 10px;
                    margin: 0;
                    color: var(--color-white);
                    font-size: 21px;
                    min-width: 90%;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 1em;


                    & i {
                        font-size: 30px;
                        width: 10%;
                        text-align: start;
                        transition: width 0.4s ease;

                        text-align: center;
                    }

                    & p {
                        margin: 0;
                    }
                }

                & .linkNav:hover {
                    background-color: var(--color-custom-8);
                }
            }
        }
    }

    & #main {
        width: 100%;
        height: 100vh;

        & #header {
            width: 100%;
            height: 8%;
            background-color: var(--color-custom-1) !important;
            display: flex;
            align-items: center;
            justify-content: space-around;

            & .botaoMenu {
                width: 100px;
            }
        }

        & #sectionPrincipal {
            background-color: var(--color-custom-2);
            width: 100%;
            height: 92%;
            border-radius: 50px 50px 0px 0px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            & .sectionPages {
                width: 100%;
                height: 100%;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                overflow-y: auto;

            }
        }
    }
}

/*SCROLL EDIÇÃO*/
.sectionPages::-webkit-scrollbar {
    width: 12px;
}

.sectionPages::-webkit-scrollbar-track {
    background: var(--color-custom-2);
}

.sectionPages::-webkit-scrollbar-thumb {
    background-color: var(--color-custom-1);
    border-radius: 20px;
    border: 3px solid var(--color-custom-2);
}